.content {
    width:1200px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
}

.one {
    font-family:Arial, sans-serif;
    font-size:26px;
    font-weight:100px;
    color:#1d2329;
    text-align:center;
    line-height:1.15em;
    margin:4px;
}

.two {
    font-family:sans-serif; 
    color: #1d2329;
    font-size:48px;
    font-weight:bold;
    text-indent:-0.5em;/*文本块中首行文本的缩进（使用负值，首行会被缩进到左边）*/
    text-align: center;
    line-height:1.15em;
    letter-spacing:-.03em;/*字母间的空隙*/
    margin-top:8px;
}

.three {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    color: #4f4e4e;
    text-align:center;
    font-weight:50px;
    line-height:1.4em;
    margin-top:16px;
}

.box {
    border:solid 1px #9c9b9b;
    border-radius:0.5em;
    width:400px;
    height:35px;
    color:#878787;
    padding-left:15px;
    padding-top:8px;
    text-align:left;
    position:relative;
    left:250px;
    margin:30px;
    background-color: #ffffff;
}

.box2 {
    border:solid 3px #c4bfbf ;
    width:150px;
    height:30px;
    border-radius:2em;
    color:#605f5f;
    text-align:center;
    padding-top:8px;
    padding-bottom:5px;
    position:relative;
    left:715px;
    bottom:75px; 
}

.four {
    font-size:18px;
    line-height:1.4em;
    position:relative;
    bottom:60px;
    left:300px;
    color:#3d3c3c;
}

.four a:link {
    color:#0057b8;
}

.four a:visited {
    color:#0057b8;
}

.five {
    font-size:12px;
    line-height:1.2em;
    text-align:center;
    position:relative;
    left:-50px;
    bottom:35px;
    font-size:10px;
    
}

.six {
    text-align:center;
    line-height:1.2em;
}

.content2 {
    width:1200px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #ffffff;
	margin-left:auto;
	margin-right:auto;
}

.form a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form a:active {
    border:0.5px dashed #9c9b9b;
}

.form {
    font-size:12px;
    line-height:4em; 
    position: relative;
    left:-50px;
    bottom:5px;
}

.form2 a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form2 a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form2 a:active {
    border:0.5px dashed #9c9b9b;
}

.form2 {
    font-size:12px;
    /* padding-top:50px;
    padding-bottom:10px;  */
    line-height:4em; 
    position: relative;
    left:260px;
    bottom:260px;
    
}

.tubiao {
    margin:0px auto;
} 

.form3 {
    font-size:12px;
    line-height:4em;
    position:relative;
    left:950px;
    bottom:420px;
    border-left:1px solid #0f0f0f;
}

.form3 a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form3 a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form3 a:active {
    border:0.5px dashed #9c9b9b;
}

.form4{
    position:relative;
    left:-40px;
    bottom:400px;
    font-size:10px;
    list-style:none;
    
}

ul li {
    display:inline;
    padding:5px 10px 5px 10px;
}

.form4 a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form4 a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form4 a:active {
    border:0.5px dashed #9c9b9b;
}

.icon {
    width:15px;
}

.icon2 {
    width:25px;
    position:relative;
    bottom:-10px;
}

.foot {
    font-size:8px;
    float:left;
    position:relative;
    bottom:380px;
    margin-bottom:0px;
}

.xiaobiao {
    width:2px;
    height:2px;
}