.one {
    font-family:Arial, sans-serif;
    font-size:30px;
    font-weight:100px;
    text-align:center;
    line-height:1.15em;
    margin:4px;
}

.two {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:50px;
    font-weight:bold;
    text-align: center;
    line-height:1em;
    margin:2px;
}

.three {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    color: #4f4e4e;
    text-align:center;
    font-weight:50px;
    line-height:2em;
    margin:8px;
}

.box {
    border:solid 1px #9c9b9b;
    border-radius:0.5em;
    width:400px;
    height:35px;
    color:#878787;
    padding-left:15px;
    padding-top:8px;
    text-align:left;
    position:relative;
    left:250px;
    margin:30px;
    background-color: #ffffff;
}

.box2 {
    border:solid 3px #c4bfbf ;
    width:150px;
    height:30px;
    border-radius:2em;
    color:#605f5f;
    text-align:center;
    padding-top:8px;
    padding-bottom:5px;
    position:relative;
    left:715px;
    bottom:75px; 
}

.four {
    /* text-align:center; */
    line-height:1.4em;
    position:relative;
    bottom:60px;
    left:300px;
    color:#3d3c3c;
    /* font-size:17px; */
}

.four a:link {
    color:blue;
}

.four a:visited {
    color:blue;
}

.five {
    text-align:center;
    position:relative;
    left:-50px;
    bottom:35px;
    font-size:10px;
}

.six {
    text-align:center;
    line-height:1.2em;
}

.allcontent {
    width:1200px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #f0f0f0;
	margin-left:auto;
	margin-right:auto;
}

.form a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form a:active {
    border:0.5px dashed #9c9b9b;
}

.form {
    font-size:12px;
    /* padding-top:50px;
    padding-bottom:10px;  */
    line-height:4em; 
    /* border:1px solid #0f0f0f;  */
    position: relative;
    left:-90px;
    bottom:5px;
}

.form2 a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form2 a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form2 a:active {
    border:0.5px dashed #9c9b9b;
}

.form2 {
    font-size:12px;
    /* padding-top:50px;
    padding-bottom:10px;  */
    line-height:4em; 
    position: relative;
    left:260px;
    bottom:260px;
}

.tubiao {
    position: relative;
    left:980px;
    bottom:470px;
}

.allcontent2 {
    width:1200px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #f0f0f0;
	margin-left:auto;
	margin-right:auto;
}

.form3 {
    font-size:12px;
    line-height:4em;
    position:relative;
    left:950px;
    bottom:420px;
}

.form3 a:link,a:visited {
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form3 a:hover {
    text-decoration:underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0f0f0f;
}

.form3 a:active {
    border:0.5px dashed #9c9b9b;
}




